[Unit]
Description=Run monitoring automation suite

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /home/jenkins/automation-suite/orchestrators/run_monitor.py
WorkingDirectory=/home/automation-suite
